pom.xml
*jar
/lib/
/classes/
/target/
.lein-deps-sum
*.iml
.idea/
doc
.dexy
.lein-failures
.lein-repl-history
.nrepl-port
pom.xml*
manual/output-site
*.asc
.clj-kondo/.cache
.lsp/.cache
.portal/vs-code.edn
.cpcache
/.clj-kondo/imports/
