{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.2"}}

 :aliases
 {:test
  ;; clj -X:test
  {:extra-paths ["test"]
   :extra-deps {criterium/criterium {:mvn/version "0.4.6"}
                org.clojure/core.async {:mvn/version "1.6.681"}
                nubank/matcher-combinators {:mvn/version "3.9.1"}
                io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                      :git/sha "dfb30dd"}}
   :jvm-opts ["-Dclj-commons.ansi.enabled=true"]
   :exec-fn cognitect.test-runner.api/test}

  ;; clj -T:build <command>
  :build
  {:deps {io.github.hlship/build-tools
          {:git/tag "0.10.2" :git/sha "3c446e4"}}
   :ns-default build}

  :1.10
  {:override-deps {org.clojure/clojure {:mvn/version "1.11.2"}}}

  ;; clj -M:test:demo
  :demo
  {:main-opts ["-m" "demo"]}

  :disable-colors
  {:jvm-opts ["-Dclj-commons.ansi.enabled=false"]}

  :nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "1.1.1"}}
   :main-opts ["-m" "nrepl.cmdline" ]}

  :repl
  {:main-opts ["-m" "clj-commons.pretty.repl"]}}

 :net.lewisship.build/scm
 {:url "https://github.com/clj-commons/pretty"
  :license :asl}

 :codox/config
 {:description "Clojure library to help print things, prettily"
  :source-uri "https://github.com/clj-commons/pretty/blob/master/{filepath}#L{line}"}}
