{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.12.2"}}

 :aliases
 {:test
  ;; clj -X:test
  {:extra-paths ["test"]
   :extra-deps  {criterium/criterium                  {:mvn/version "0.4.6"}
                 org.clojure/core.async               {:mvn/version "1.8.741"}
                 nubank/matcher-combinators           {:mvn/version "3.9.2"}
                 io.github.tonsky/clj-reload          {:mvn/version "0.9.8"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                       :git/sha "dfb30dd"}}
   :jvm-opts    ["-Dclj-commons.ansi.enabled=true"]
   :exec-args   {:fn cognitect.test-runner.api/test}        ; for :debug
   :exec-fn     cognitect.test-runner.api/test}

  ;; Used when generating the :pom for install & deploy
  :pom
  {:extra-deps {nrepl/nrepl {:mvn/version "1.4.0"
                             :optional    true}}}

  ;; clj -T:build <command>
  :build
  {:deps       {io.github.hlship/build-tools
                {:git/tag "0.12.1" :git/sha "05f3aeb"}}
   :ns-default build}

  :debug
  {:exec-fn   clj-commons.pretty.repl/main
   :exec-args {:fn missing/bad-wolf}}

  :1.11
  {:override-deps {org.clojure/clojure ^:antq/exclude {:mvn/version "1.11.4"}}}

  :1.10
  {:override-deps {org.clojure/clojure ^:antq/exclude {:mvn/version "1.10.3"}}}

  ;; clj -M:test:demo
  :demo
  {:main-opts ["-m" "demo"]}

  :disable-colors
  {:jvm-opts ["-Dclj-commons.ansi.enabled=false"]}

  ;; clj -M:lint

  :lint
  {:deps      {clj-kondo/clj-kondo {:mvn/version "2025.07.28"}}
   :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}

  :nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "1.4.0"}}
   :main-opts  ["-m" "nrepl.cmdline"]}

  :repl
  {:main-opts ["-m" "clj-commons.pretty.repl"]}}

 :net.lewisship.build/scm
 {:url     "https://github.com/clj-commons/pretty"
  :license :asl}

 :codox/config
 {:description "Clojure library to help print things, prettily"
  :source-uri  "https://github.com/clj-commons/pretty/blob/master/{filepath}#L{line}"}}
