{:name        "Pretty Manual"
 :description "Sometimes, neatness counts."
 :github      "AvisoNovate/pretty"
 :api         "http://avisonovate.github.io/docs/pretty"
 :pages       ["index"
               "exceptions"
               "repl"
               "ansi"
               "binary"
               "columns"
               ]}
