name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: '11'
          distribution: 'corretto'

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@13.5
        with:
          cli: 1.12.4.1582

      - name: Cache clojure dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.deps.clj
          # List all files containing dependencies:
          key: cljdeps-${{ hashFiles('deps.edn') }}

      - name: Run tests (current, Clojure 1.12)
        run: clojure -X:test

      - name: Run tests (Clojure 1.11
        run: clojure -X:1.11:test

      - name: Run tests (Clojure 1.10)
        run: clojure -X:1.10:test

      - name: Lint
        run: clojure -M:lint
